<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Где найти VIN</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link href="/css/vin-number.css" rel="stylesheet">
      <link href="/css/nvigation.css" rel="stylesheet">
  </head>
  <body>
    <header th:insert="navigation">
    </header>
    
    <div class ="wrapper">
        <form action="">
            <div class = "vin-text">
                <h1>О нас</h1>
            </div>
            <div class = "vin-info">
                <span>
                    Наш сервис создан для описания VIN номера вашего авто.
                </span>
            </div>
        </form>
    </div>

  </body>
</html>





