<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>AvtoVIN</title>
    <link rel="stylesheet" href="mainmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link href="/css/mainmenu.css" rel="stylesheet">
  </head>
  <body>
    <header>
            <div>
                <img src="../img/logo.png" alt="AvtoVIN" class="logo-img">
            </div>
    </header>
    <div class = "button-header">
        <form action="login.html" target="_blank">
          <button type = "login" class = "button-login" a href="login.html"></a>Войти</button>
        </form>
        <button type = "about" class = "button-about">О нас</button>
        <button type = "Where-find-vin" class ="wfv">Где найти VIN</button>
    </div>

    <div class = "wrapper">
        <div class ="search-vin">
            <h2>Введите ваш VIN номер</h2>
        </div>
        <div class ="input-box">
            <input type="text" placeholder="VIN" required>
              <i class='bx bx-car'></i>
        </div>
        <div class = "text-vin">
          <h6>Уникальный код транспортного средства, состоящий из 17 знаков</h6>
        </div>

        <button type = "search" class ="button" > Поиск </button> 
    </div>
  </body>
</html>







