<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Результат поиска VIN</title>
    <link rel="stylesheet" href="mainmenu.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link href="../static/css/vivod-informacii.css" rel="stylesheet">
  </head>
  <body>
    <header>
    </header>
    <div class = "wrapper">
        <div class ="result-text">
            <h1>Результат поиска</h1>
        </div>
            <div class = "result" style="display: flex;">
                <h3>Страна производства:</h3>
                <p>g</p>
            </div>
            <div class = "result" style="display: flex;">
                <h3>Марка автомобиля:</h3>
                <p>g</p>
            </div>
            <div class = "result" style="display: flex;">
                <h3>Год выпуска:</h3>
                <p>g</p>
            </div>
    </div>
  </body>
</html>







