<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Где найти VIN</title>
    <link rel="stylesheet" href="../static/css/wfv.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header>
            <div>
                <img src="../static/img/logo.png" alt="AvtoVIN" class="logo-img">
            </div>
    </header>
    
    <div class ="wrapper">
        <form action="">
            <div class = "wfn-text">
                <h1>Где найти VIN</h1>
            </div>
            <div class = "wfn-info">
                <h4>
                    Для нанесения используют несъемные части кузова, которые наиболее защищены от повреждений в случае ДТП.
                     В современных моделях в качестве такого места выбирают переднюю кузовную стойку с левой стороны. 
                     Также код присутствует слева на верхней части передней панели кабины. Вин-код дублируют на специальной табличке, которую крепят в передней части ТС.
                     <br>Вот несколько вариантов где найти VIN номер автомобиля:
                </h4>
                <div>
                    <img src="../static/img/vin-code.jpg" alt="vin-code" class="wfn-vin-code">
                    <img src="../static/img/vin-code-bmw.jpg" alt="vin-code" class="wfn-vin-code">
                    <img src="../static/img/vin-code-toyota.jpg" alt="vin-code" class="wfn-vin-code">
                    <img src="../static/img/vin-code-kapot.jpg" alt="vin-code" class="wfn-vin-code">
                </div>
                <div class = "wfn-vin-code-tp">
                    <h4> Либо же посмтреть VIN номер в тех. паспорте Вашего авто.</h4>
                </div>
                <div>
                    <img src="../static/img/vin-code-tp.jpg" alt="vin-code-tp" class="wfn-vin-code-tp">
                </div>
            </div>
        </form>
    </div>

  </body>
</html>





